:root {
    --primary: #52a5e0;
    --secondary: #f39c12;
    --body: #101417;
    --container: #181c1f;
    --container-clearer: #1f2a30;
    --border: #2a3b47;
    --title: #dfe3e6;
    --sub-title: #8fcdf1;
    --content: #c8cdd0;
    --sub-content: #a0a7ac;
    --icons-white: #bfc8cf;
    --icons-blue: #89cef7;
    --icons-background: #005677;

    --title-size: 20px;
    --subtitle-size: 16px;
    --content-size: 12px;
}

/* HEADER */
#header {
    width: 100%;
}
#headerMain-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 15px;

    color: var(--title);
}
#headerMain-logo {
    text-decoration: none;
    color: var(--title);
}

/* NAV */
#nav {
    background-color: var(--body);
    width: 100%;
    height: 80px;
    align-content: center;

    position: fixed;
    bottom: 0;
}
#nav #nav-list {
    background-color: var(--body);
    margin: 0 15px;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-item {
    list-style: none;
}
#nav a {
    background-color: var(--body);
    color: var(--content);
    font-size: var(--content-size);
    text-decoration: none;
}
.nav-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}
.nav-link-container svg {
    padding: 3px 10px;
    border-radius: 30px;
}
.nav-link-container.active > svg {
    background-color: #005677;

    
}
.nav-link-container.active > span {
    font-weight: 600;
}

/* BANNER */
#banner {
    width: 100%;
    position: relative;
    overflow-x: hidden;

}
#bannerContainer {
    width: 100vw;
    /* position: absolute; */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* overflow-x: hidden; */

    transition: all .3s ease-in-out;
   
}
.bannerImage {
    width: 100vw;
    position: relative;
    
}
.bannerImage img {
    width: 100%;
    object-fit: cover;
}
.bannerImage::after {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--body), transparent);
}
.bannerImage-overlay {
    position: absolute;
    bottom: 30px;
    margin-left: 15px;
    color: var(--title);
    text-align: left;
    width: 80%;
    z-index: 3;
}
.bannerImage-title {
    margin-bottom: 10px;
    font-size: var(--title-size);
}
.bannerImage-runtime {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}
.bannerImage-rating, .bannerImage-rating-total, .detail-rating, .detail-rating-total, .modal-rating, .modal-rating-total {
    color: var(--secondary);
}
.bannerImage-rating, .detail-rating, .modal-rating {
    font-weight: bold;
}
.bannerImage-rating-total, .bannerImage-data, .detail-rating-total, .detail-rating, .modal-rating, .modal-rating-total {
    font-size: 12px;
}
.bannerImage-data {
    color: var(--content);
}
/* #bannerButtons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#bannerButtons button {
    background-color: transparent;
    border: none;
}
#bannerButtons button svg {
    color: #ffffff41;
} */

/* CARDS LIST */
.cards {
    width: 100px;

    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
}
.cards-link {
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    border: none;
    color: var(--sub-content);
}
.cards-img {
    width: 100px;
    border-radius: 5px;
}
.cards-title {
    font-size: var(--subtitle-size);
    font-weight: 400;
}

/* HOME LISTS */
#popularList, #upcomingList, #ratedList {
    margin: 30px 15px;
}
#popularList-title, #upcomingList-title, #ratedList-title {
    color: var(--content);
    font-size: var(--title-size);
    font-weight: 500;
    margin-bottom: 25px;
}
#popularList-cards, #upcomingList-cards, #ratedList-cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-x: scroll;
}

/* MODAL */
.modal {
  display: none;
}
.modal.active {
    z-index: 5;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-content: center;

    background-color: rgba(0, 0, 0, 0.523);
}
.modal-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin: 0 15px;
}
.modal-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    background-color: var(--container);
    padding: 15px;
    border-radius: 5px;
}
.modal-imgOverlayContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.modal-container img {
    width: 100px;
    border-radius: 5px;
}
.modal-title {
    color: var(--title);
    font-size: var(--subtitle-size);
    font-weight: 400;
}
.modal-tagline {
    color: var(--sub-content);
    font-size: var(--content-size);
}
.modal-rating-genres-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 10px;
}
.modal-rating-vote-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.modal-vote {
    color: var(--sub-content);
    font-size: var(--content-size);
}
.modal-time {
    color: var(--sub-title);
    font-size: var(--content-size);
}
.modal-date {
    color: var(--sub-content);
    font-size: var(--content-size);
    
}
.genre-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.movie-genre {
    color: var(--sub-content);
    font-size: var(--content-size);
    border: solid 1px var(--sub-content);
    border-radius: 50px;
    padding: 5px;
}
.modal-description {
    color: var(--content);
    font-size: var(--content-size);
}
.modal-close {
    border: none;
    background-color: transparent;
    color: var(--content);
    font-weight: 400;
}

/* FOOTER */
#footer {
    width: 100%;
    height: 300px;
    margin-top: 80px;
    padding-bottom: 70px;
    background-color: var(--container);
}
#footer-container {
    margin: 0 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}
#footer-paragraph, #footer-paragraph-2 {
    color: var(--sub-content);
    font-size: var(--content-size);
}



@media (width > 1200px) {
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        z-index: 2;
        background: linear-gradient(to bottom, var(--body), transparent);
    }
    #headerMain-container {
        margin-left: 150px;
    }
    #headerMain-logo img {
        width: 130px;
    }
    #nav {
        position: static;
        width: 30%;
        margin-right: 150px;
        background-color: transparent;
    }
    #nav a {
        color: var(--content);
        font-size: var(--subtitle-size);
        text-decoration: none;
        background-color: transparent;
    }
    #nav a:hover {
        cursor: pointer;
    }
    #nav #nav-list {
        background-color: transparent;
    }

    #banner {
        position: relative;
    }
    #banner img {
        height: 85vh;
    }
    .bannerImage::after {
        height: 500px;
    }
    .bannerImage-overlay {
        bottom: 180px;
        margin-left: 150px;
        width: 80%;
    }
    .bannerImage-title {
        font-size: 80px;
    }
    .bannerImage-runtime {
        gap: 16px;
    }
    .bannerImage-rating {
        font-weight: bold;
        font-size: 30px;
    }
    .bannerImage-rating-total, .bannerImage-data {
        font-size: 25px;
    }

    #popularList, #upcomingList, #ratedList {
        margin-left: 150px;
        margin-right: 150px;
    }

    .cards {
        width: 180px;
        gap: 10px;
    }
    .cards:hover {
        cursor: pointer;
    }
    .cards-img {
        width: 180px;
        border-radius: 10px;
    }
    .cards-title {
        font-size: 18px;
        font-weight: 400;
    }

    #popularList-title, #upcomingList-title, #ratedList-title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    #popularList-cards, #upcomingList-cards, #ratedList-cards {
        gap: 25px;
    }


    .modal-1 {
        gap: 30px;
        margin: 0 500px;
    }
    .modal-container {
        gap: 10px;
        padding: 50px;
        border-radius: 10px;
    }
    .modal-imgOverlayContainer {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .modal-container img {
        width: 200px;
        border-radius: 10px;
    }
    .modal-title {
        font-size: 30px;
        font-weight: 600;
    }
    .modal-rating {
        font-size: 20px;
    }
    .modal-rating-total, .modal-vote, .modal-time, .modal-date, .modal-description {
        font-size: 18px;
    }

    .modal-description {
        line-height: 30px;
    }
    .modal-close {  
        font-size: 30px;
        font-weight: 600;
    }
    .modal-close:hover {  
        cursor: pointer;
    }



    #footer {
        height: 400px;
        margin-top: 160px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    #footer-paragraph, #footer-paragraph-2 {
        color: var(--sub-content);
        font-size: 18px;
    }
    #footer-logo {
        width: 250px;
    }
}
